{% extends 'base.html.twig' %}

{% block midCol %}
    <h1>Message edit</h1>

    {{ form_start(edit_form) }}
    <div class="form-group">
        <label>Name:</label><br>
        {{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="form-group">
        <label>Surname:</label><br>
        {{ form_widget(edit_form.surname, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="form-group">
        <label>E-mail:</label><br>
        {{ form_widget(edit_form.email, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="form-group">
        <label>Phone number (optional):</label><br>
        {{ form_widget(edit_form.phoneno, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="form-group">
        <label>Topic:</label><br>
        {{ form_widget(edit_form.messageCategory, {'attr': {'class': 'form-control'}} ) }}
    </div>
    <div class="form-group">
        <label>Text:</label><br>
        {{ form_widget(edit_form.text, {'attr': {'class': 'form-control'}} ) }}
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2"><input type="submit" value="Save" class="btn btn-lg btn-success"/></div>
    </div>
    {{ form_end(edit_form) }}
    <div class="row">
        <a href="{{ path('message_index') }}" class="btn btn-info">Back to the list</a>
        {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
